[Unit]
Description=Routing daemon for sshproxy
After=syslog.target network.target auditd.service sshd.service

[Service]
ExecStart=/usr/sbin/sshproxy-managerd
Restart=on-failure
RestartSec=42s
User=daemon

[Install]
WantedBy=multi-user.target
