# swap files
*~
.*.swp

# binaries
bin/

# generated doc
doc/*.[58]
doc/*.xml

# packages
sshproxy_*.tar.gz

# coverage outputs
test/coverage.out
test/coverage.html

# benchmark results
benchmarks/results
